body {
    font-family: 'Arial', sans-serif;
    background-color: #00BFFF;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
}

h1, h2 {
    margin: 10px 0;
}

.calculator, .leaderboard {
    margin: 20px auto;
    padding: 20px;
    background-color: #008BFF;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
}

input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

.time-input input[type="number"] {
    width: 20%;
    margin: 5px;
}

button {
    background-color: #32CD32;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #228B22;
}

#result p {
    margin: 10px 0;
}

.leaderboard-item {
    background-color: #007ACC;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
}

.chart-container {
    margin: 20px auto;
    padding: 20px;
    background-color: #008BFF;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
}
