body {
  background-color: #000;
}

#countdown {
  font-size: 6rem;
  font-weight: bold;
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: transparent;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
